<div nz-row>
  <div nz-col [nzSpan]="16" [nzOffset]="4">
    <app-hotel-filter (searchClicked)="getHotelList($event)" ></app-hotel-filter>
    <div nz-row class="result-list-container" [nzGutter]="8">
      <div nz-col [nzSpan]="6">
        <h5>Hotel List</h5>
      </div>
      <div nz-col [nzSpan]="18">
        <h5>Map</h5>
      </div>
    </div>
    <div nz-row class="result-list-container" [nzGutter]="8">
      <div nz-col [nzSpan]="6">
        <app-hotel-list [hotels]="hotelList$ | async" [metaInfo]="hotelMeta$ | async"
                        (pageChanged)="getNewPageHotelList($event)"></app-hotel-list>
      </div>
      <div nz-col [nzSpan]="18">
        <agm-map></agm-map>
      </div>
    </div>
  </div>
</div>
