<div *ngIf="!hotels || hotels.length < 1 else hotelList">
  No hotel found. <br/> Please provide your destination (city, state, or zipcode) and click 'Search'
</div>
<ng-template #hotelList>
  <div class="list-container" style="height: 500px; overflow-y: auto">
    <nz-list nzItemLayout="horizontal">
      <nz-list-item *ngFor="let hotel of hotels" [ngClass]="{'highlighted': hotel.id === highlightedHotel }">
        <nz-space nzSize="middle">
          <nz-space-item>
            <i nz-icon nzType="info-circle" nzTheme="fill" *ngIf="hotel.id === highlightedHotel"></i>
          </nz-space-item>
          <nz-space-item>
            <span>{{hotel.name}}</span>
          </nz-space-item>
        </nz-space>
      </nz-list-item>
    </nz-list>
  </div>
  <nz-pagination [nzPageIndex]="metaInfo.page" [nzTotal]="totalRecordCount"
                 (nzPageIndexChange)="emitPageChangedEvent($event)"
                 [nzPageSize]="pageSize" [nzShowTotal]="totalTemplate"></nz-pagination>
  <ng-template #totalTemplate let-total> Total {{ total }} items</ng-template>
</ng-template>

